@media(max-width:1350px) and (min-width:768px){
    main{
        margin-right: auto;
        margin-left:  auto;
        width :96%;
        
    }
}

@media(max-width:767px) {
   main{
    margin-right: auto;
    margin-left:  auto;
    width :90%;
   
   } 

   main .description{
       width :100%;
       margin-right: auto;
       margin-left: auto;
       margin-bottom: 20px;
   }

   main .game-table {
    width :100%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;

   }
}

@media(max-width:600px) {
    main .game-table{
    
    padding: 10px;
    }

    .game-table .card{
    width: 80px;
    height: 120px;
    font-size: 2.5em;
}

  .game-table .card span {
    font-size: 18px;
}

    .action .action-button{
    font-size: 12px;
    padding :8px;
    margin:1px 5px;
}

    .zone h1{
        font-size: 25px;
    }          
      
}
